.item-add-form {
    margin: 1rem 0;
}

.item-add-form input {
    margin-right: 5px;
}

.btn {
    float: right;
}

.btn-outline-secondary {
    color: black;
    background-color: #f1f0f0;
    border-color: gray;
}

.btn-outline-secondary:hover {
    color: white;
    background-color: #0071e3;
}

