.item-status-filter {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 200px;

}

.btn-status {
    padding: 5px 15px;
    border-style: none;
    border-radius: 10px;
}

.btn-status.active {
    color: white;
    background-color: #0071e3;
}

.item-status-filter .btn-primary {
    color: black;
    background-color: #f1f0f0;
    border-color: gray;
}
