.app-header {
  align-items: flex-end;
  background-color: white;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
  width: 400px;
}
  
.app-header h1 {
  font-weight: bold;
  flex-grow: 1;
  font-size: 35px;
  margin: 0;
}
  
.app-header h2 {
  font-size: 1.2rem;
  color: grey;
  margin: 0;
}
  